<!DOCTYPE html>
<html lang="en">


<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <h1 class="cover-heading">Covid Dashboard</h1>
        <table id="Covid Dashboard">
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>

            <tbody>
                <% covidData.forEach((m)=> { %>
                    <tr>
                        <td>
                            <%= m.title %>
                        </td>
                        <td>
                            <%= m.genre %>
                        </td>
                        <td>
                            <%= m.year %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

    </div>


</body>

</html>